/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
	font-family: "Ubuntu";
	src: url("../font/Ubuntu-Title.ttf");
}

@font-face {
	font-family: "Lane";
	src: url("../font/LANENAR.ttf");
}

*{
	backface-visibility: hidden;
	font-family: 'Lato', serif !important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	backface-visibility: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.hide{
	display: none;
}


/* =============================================================================
   particle-js style
   ========================================================================== */

/* ---- base ---- */

html,body{
	width:100%;
	height:100%;
	background:#ffff;
}

html{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
	background-color: rgb(238, 238, 238);
}
canvas{
	display:block;
	vertical-align:bottom;
}


/* ---- stats.js ---- */

/* ---- particles.js container ---- */

#particles-js{
	width: 100%;
	height: 100%;
	background-size: cover;
	background: url('') no-repeat 50% 50%;
}
#stats{
	display: none;
}